{:dev {:dependencies [[org.clojure/tools.namespace "0.2.11"]]
       :source-paths ["dev"]
       :repl-options {:init-ns user}
       :env {:max-target-connections "1000"
             :generator-buffer-size "10000"
             :smooth-operator "true"
             :api-threadpool-size "15"
             :api-port "8080"
             :target-http-method "http"
             :target-host "localhost"
             :target-port "8080"
             :target-path "/prediction-stub"}}
 :repl {:injections [(user/reset) ; skip user/reset for IntelliJ, it is causing it indigestion
                     (user/hints)]}}
